language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

before_script: composer install

script:
  - ./vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/c0da2eb2407d237880c6
    on_success: always
    on_failure: always
    on_start: never
